body {
	width: 768px;
	font-family: "pt sans";
	text-transform: uppercase;
	margin: 0 auto;
	padding: 0;
	position: relative;
}


							/* ХЕДЕР!! ЛОГОТИП ТОЖЕ ТУТ!! */ 


.main-navigation {
	width: 680px;
	padding: 0 44px;
	margin: 0 auto; 
	position: relative;
}
.navigation {
	min-height: 56px;
	list-style: none;
	margin: 0;
  	padding: 0;
  	font-size: 0
}

.navigation a{
	text-decoration: none;
	display: block;
	padding: 15px 0px;
	width: 154px;
	color: #000000;

}  

.paragraph {
	display: inline-block;
  	vertical-align: top;
  	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
}

li:nth-child(2) {
	margin-right: 62px;
}

li:nth-child(3),
li:nth-child(4) {
	text-align: right;
}

.main-logo {
	position: absolute;
	top: 0px;
	left:50%;
	transform: translate(-50%);
}

.main-logo a {
	font-size: 0px;
	line-height: 0px;
}


					/* СЛОГАН! И БЛА БЛА БЛА!! */



h1 {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.big-image {

}

.town {
	margin-top: 52px;
	text-align: center;
	min-height: 156px;
}
.town-title {
	display: block;
	margin-bottom: 30px;
}

.town-reasons {
	display: block;
	color: #333333;
	font-size: 14px;
	line-height: 26px;

}
           				 /* БЛОКИ ПРИЧИН!! БОЛЬШИЕ ТАКИЕ!! С КАРТИНКАМИ КОТОРЫЕ!!!! */
.main-reason {
	color: #ffffff;
	display: flex;
	height: 256px;
}

.reason {
	background-color: #81b3d2;
	width: 256px;
	height: 256px;
	text-align: center;
}

.reason-picture {
	width: 512px;
}
.reason-title {
	padding: 0px 50px;
	display: block;
	font-size: 21px;
	line-height: 21px;
	padding-top: 47px;
	font-weight: bold;
	margin-bottom: 25px;

}

.reason-title-text {
	display: block;
	line-height: 21px;
	width: 180px;
	margin: 0 auto;

}

.reason-title-number {
	display: block;
	line-height: 21px;
	width: 180px;
	margin: 0 auto;
	margin-bottom: 20px;
}




						/* БЛОК ПРИЕМУЩЕСТВА!!! НИШТЯЧКИ!! ЭТО КОТОРЫЕ ЕДА ТАМ НУ И ВСЕ ТАКОЕ!!! */  


.features {
	  	font-size: 0
}

.feature-box {
	display: inline-block;
	max-width: 256px;
	height: 330px;
}

.feature-name {
	padding-top: 160px;
	text-align: center;
	display: block;
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
	 vertical-align: top;
}

.feature-text {
	padding: 10px 47px 0px;
	text-align: center;
	display: block;
	font-size: 14px;
	line-height: 21px;
	color: #333333;
	vertical-align: top;
}

.features div:nth-child(2) .feature-text {
	padding: 10px 49px 0px;
}

						/* БЛОК ПРИЧИН 3 - 5 !!! */

.reason3-5 {
	display: inline-block;
	width: 256px;
	height: 256px;
}


.other-reasons {
	background-color: #eeeeee;
	font-size: 0px;
}

.other-reason-name {
	display: block;
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
	text-align: center;
	padding: 45px 50px 25px;
	vertical-align: top;
}

.other-reason-number,
.other-reason-text {
	display: block;
	text-align: center;
	font-size: 14px;
	line-height: 21px;
	color: #333333;
}
.other-reason-number {
	margin-bottom: 20px;
}

.other-reason-text {
	padding: 0px 50px 0px;
	margin-top: 0px;
}	

.other-reasons div:nth-child(2) .other-reason-text {
	padding: 0px 60px 0px;
}

 						/* БЛОК ЗАИНТЕРЕСОВАЛИСЬ */


.interest. {
	height: 290px;
}
.interest-head {
	margin-top: 55px;
	display: block;
	font-size: 30px;
	line-height: 24px;
	font-weight: bold;
	text-align: center;
}

.interest-text {
	display: block;
	font-size: 14px;
	line-height: 24px;
	color: #333333;
	text-align: center;
	margin-bottom: 45px;
	margin-top: 30px;
}
.holels-search {
	width: 568px;
	height: 86px;
	margin: 0 auto;
	background: #766357;
	text-align: center;
}

h2 {
	padding-top: 30px;
	font-weight: bold;
	display: block;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #ffffff;

}

						/* БЛОК ПОИСКА ГОСТИНИЦЫ!!!! */


.map {
	height: 593px;
	width: 768px;
}
.search-date {
	height: 473px;
	position: relative;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.search-window {
	position: absolute;
	top: 0px;
	left: 100px;
	height: 395px; 
	width: 568px;
	background-color: #ffffff;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
}

.date-in {
	margin-top: 55px;
	margin-bottom: 29px;
	margin-left: 56px;
}

.date-out {
	margin-bottom: 29px;
	margin-left: 53px;
	margin-bottom: 29px;
}

.adults-children {
	width: 568px;
}
.adults {
	display: inline-block;
	margin-left: 55px;
	margin-right: 47px;
}
.children {
	display: inline-block;
}

.adults label {
	margin-right: 42px;
}
.children label {
	margin-right: 26px;

}

.date-in label,
.date-out label {
	margin-right: 25px;
}


.search-window input {
	height: 38px;
	border: 0px;
	background-color: #f2f2f2;
	text-indent: 15px;
}

.date-in input,
.date-out input {
	width: 346px;

}

.adults input,
.children input {
	width: 114px;
}

button {
	color: #ffffff;
	display: inline-block;
	width: 464px;
	height: 58px;
	margin-left: 55px;
	margin-top: 54px;
	border: 0px;
    vertical-align: top;
    text-align: center;
    background-color: #81b3d2;
}
						/* ПОДВАЛЬЧИК РОДИМЫЙ!! */

.main-footer {
	height: 120px;
	width: 768px;
	background-color: #ffffff;
	opacity: 90%;
	font-size: 0px;
	vertical-align: top;
}

.hashtag {
	display: inline-block;
	font-size: 21px;
	width: 256px;
	height: 120px;
	text-align: center;
	background-color: #81b3d2;
}

.hashtag a {
	text-decoration: none;
	color: #000000;
}

.social {
	display: inline-block;
	width: 256px;
	height: 120px;
	background-color: #81b3d2;

}

.designer {
	display: inline-block;
	width: 256px;
	height: 120px;
	font-size: 14px;
	line-height: 26px;
}