
body {
	width: 768px;
	font-size : 14px;  
	font-family: "Pt Sans Bold", "Pt Sans";
	font-style: normal;
	font-weight: normal;
	text-transform: uppercase;
	margin: 0 auto;
	padding: 0;
	position: relative;
}
							/* ХЕДЕР!! ЛОГОТИП ТОЖЕ ТУТ!! */ 


.main-navigation {
	width: 680px;
	margin: 0 auto; 
	position: relative;
}
.navigation {
	list-style: none;
	margin: 0;
  	padding: 0;
  	font-size: 0
}

.navigation a{
	text-decoration: none;
	display: block;
	width: 154px;
	color: #000000;
}  
.navigation a:hover {
	color: #81b3d2;
}
.navigation a:active {
	color: #b2b2b2;
}

.paragraph {
	padding: 15px 0px;
	display: inline-block;
  	vertical-align: top;
  	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	height: 26px;
}

.navigation li:nth-child(2) {
	margin-right: 62px;
}

.navigation li:nth-child(3),
.navigation li:nth-child(4) {
	text-align: right;
}

.main-logo {
	position: absolute;
	top: 0px;
	left:50%;
	transform: translate(-50%);
}

.main-logo a {
	font-size: 0px;
	line-height: 0px;
}


					/* СЛОГАН! И БЛА БЛА БЛА!! */



h1 {
	font-size: 21px;
	line-height: 26px;
	font-family: inherit;
	font-weight: bold;
}

.town {
	margin-top: 52px;
	text-align: center;
	min-height: 156px;
}
.town-title {
	display: block;
	margin-bottom: 34px;
}

.town-reasons {
	display: block;
	color: #333333;
	font-size: 14px;
	line-height: 26px;

}
           				 /* БЛОКИ ПРИЧИН!! БОЛЬШИЕ ТАКИЕ!! С КАРТИНКАМИ КОТОРЫЕ!!!! */
.main-reason {
	color: #ffffff;
	display: flex;
	height: 256px;
}

.reason {
	background-color: #81b3d2;
	width: 256px;
	height: 256px;
	text-align: center;
}

.reason-picture {
	width: 512px;
}
.reason-title {
	padding: 0px 50px;
	display: block;
	font-size: 21px;
	line-height: 21px;
	padding-top: 47px;
	font-weight: bold;
	margin-bottom: 25px;

}

.reason-title-text {
	display: block;
	line-height: 21px;
	width: 180px;
	margin: 0 auto;

}

.reason-title-number {
	display: block;
	line-height: 21px;
	width: 180px;
	margin: 0 auto;
	margin-bottom: 20px;
}




						/* БЛОК ПРИЕМУЩЕСТВА!!! НИШТЯЧКИ!! ЭТО КОТОРЫЕ ЕДА ТАМ НУ И ВСЕ ТАКОЕ!!! */  


.features {
	  	font-size: 0
}

.feature-box {
	display: inline-block;
	max-width: 256px;
	height: 330px;
}

.feature-name {
	padding-top: 160px;
	text-align: center;
	display: block;
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
	vertical-align: top;
}

.feature-text {
	padding: 10px 45px 0px;
	text-align: center;
	display: block;
	font-size: 14px;
	line-height: 21px;
	color: #333333;
	vertical-align: top;
}

.features div:nth-child(2) .feature-text {
	padding: 10px 49px 0px;
}

						/* БЛОК ПРИЧИН 3 - 5 !!! */

.reason3-5 {
	display: inline-block;
	width: 256px;
	height: 256px;
}


.other-reasons {
	background-color: #eeeeee;
	font-size: 0px;
}

.other-reason-name {
	display: block;
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
	text-align: center;
	padding: 45px 50px 25px;
	vertical-align: top;
}

.other-reason-number,
.other-reason-text {
	font-weight: bold;
	display: block;
	text-align: center;
	font-size: 14px;
	line-height: 21px;
	color: #333333;
}
.other-reason-number {
	margin-bottom: 20px;
}

.other-reason-text {
	padding: 0px 50px 0px;
	margin-top: 0px;
}	

.other-reasons div:nth-child(2) .other-reason-text {
	padding: 0px 60px 0px;
}

 						/* БЛОК ЗАИНТЕРЕСОВАЛИСЬ */


.interest. {
	height: 290px;
}
.interest-head {
	margin-top: 55px;
	display: block;
	font-size: 30px;
	line-height: 24px;
	font-weight: bold;
	text-align: center;
}

.interest-text {
	display: block;
	font-size: 14px;
	line-height: 24px;
	color: #333333;
	text-align: center;
	margin-bottom: 48px;
	margin-top: 30px;
}

										/* БЛОК ПОИСКА ГОСТИНИЦЫ!!!! */
.holels-search {
	width: 568px;
	height: 86px;
	margin: 0 auto;
	background: #766357;
	text-align: center;
		cursor: pointer;
}

h2 {
	padding-top: 30px;
	font-weight: bold;
	display: block;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #ffffff;

}

.map {
	height: 593px;
	width: 768px;
}
.search-date {
	height: 473px;
	position: relative;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}
	


.search-window {
	position: absolute;
	top: 0px;
	left: 100px;
	height: 395px; 
	width: 568px;
	background-color: #ffffff;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
}

.search-window-show {
	visibility: visible;
	animation: bounce 0.8s;
}

h2:hover {
	cursor: pointer;
}


@keyframes bounce {
  0%   {
    transform: translateY(600px);
    opacity: 0.2;
 }
  70%  {
    transform: translateY(-30px);
    opacity: 0.5;
  }
  90%  {
    transform: translateY(30px);
    opacity: 0.8;
  }
  100% {
    transform: translateY(0);
  }
}


.date-in {
	position: relative;
	margin-top: 55px;
	margin-bottom: 29px;
	margin-left: 56px;
}



.calendar-icon {
  content: "";
  position: absolute;
  top: 9px;
  right: 60px;

  width: 21px;
  height: 22px;

  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -10px -70px;
}

.date-out {
	margin-bottom: 29px;
	margin-left: 53px;
	margin-bottom: 29px;
}

.adults-children {
	width: 568px;
}
.adults {
	display: inline-block;
	margin-left: 55px;
	margin-right: 47px;
}
.children {
	display: inline-block;
}

.adults label {
	margin-right: 42px;
}
.children label {
	margin-right: 26px;

}

.date-in label,
.date-out label {
	margin-right: 25px;
}


.search-window input {
	height: 34px;
	border: 0px;
	background-color: #f2f2f2;
	text-indent: 15px;
	font-weight: bold;
}

.search-window input:hover {
	background-color: #ebebeb;
}

.search-window input:focus {
	background-color: #ffffff;
	outline: 2px solid #e5e5e5;
}

.date-in input,
.date-out input {
	width: 346px;

}

.find {
	font-size: 21px
	line-height: 26px;
	font-style: bold;
	font-face: "Pt Sans Bold";
	text-transform: uppercase;

}

.adults input,
.children input {
	width: 38px;
}

button {
	color: #ffffff;
	display: inline-block;
	width: 464px;
	height: 58px;
	margin-left: 55px;
	margin-top: 54px;
	border: 0px;
    vertical-align: top;
    text-align: center;
    background-color: #81b3d2;
}
						/* ПОДВАЛЬЧИК РОДИМЫЙ!! */

.main-footer {
	position: absolute;
	height: 120px;
	width: 768px;
	background-color: #ffffff;
	opacity: 90%;
	font-size: 0px;
	vertical-align: top;
}

.hashtag {
	display: inline-block;
	font-size: 21px;
	width: 256px;
	height: 120px;
	text-align: center;
	background-color: #81b3d2;
}

.hashtag a {
	text-decoration: none;
	color: #000000;
}

.social {
	display: inline-block;
	width: 256px;
	height: 120px;
	background-color: #81b3d2;

}

.designer {
	display: inline-block;
	width: 256px;
	height: 120px;
	font-size: 14px;
	line-height: 26px;
}

