body {
	width: 768px;
	font-family: "pt sans";
	font-size: 14px;
	text-transform: uppercase;
}



							/* ХЕДЕР!! ЛОГОТИП ТОЖЕ ТУТ!! */ 
nav {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
}

.navigation {
	display: flex;
}


.paragraph {
	width: 153px;
	height: 56px;
}



					/* СЛОГАН! И БЛА БЛА БЛА!! */
h1 {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.town {
	text-align: center;
}

.town-reasons {
	color: #333333;

}
           				 /* БЛОКИ ПРИЧИН!! БОЛЬШИЕ ТАКИЕ!! С КАРТИНКАМИ КОТОРЫЕ!!!! */
.main-reason {
	color: #ffffff;
	display: flex;
}

.reason {
	background-color: #81b3d2;
	width: 256px;
	height: 256px;
	text-align: center;
}

.reason-picture {
	width: 512px;
}
.reason-title {
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
}

.reason-title-text {
	line-height: 21px;
}
						/* БЛОК ПРИЕМУЩЕСТВА!!! НИШТЯЧКИ!! ЭТО КОТОРЫЕ ЕДА ТАМ НУ И ВСЕ ТАКОЕ!!! */  


.features {
	display: flex;
}
.feature-box {
	width: 33%;
	margin: 0 auto;
}

.feature-name {
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
}

						/* БЛОК ПРИЧИН 3 - 5 !!! */
.other-reasons {
	background-color: #eeeeee;
	display: flex;
}

.other-reason-name {
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
}

.other-reason-number,
.other-reason-text {
	font-size: 14px;
	line-height: 21px;
	color: #333333;



}
 						/* БЛОК ЗАИНТЕРЕСОВАЛИСЬ */
.interest-head {
	font-size: 30px;
	line-height: 24px;
	font-weight: bold;
	text-align: center;
}

.interest-text {
	font-size: 14px;
	line-height: 24px;
	color: #333333;
	text-align: center;
}

h2 {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #ffffff;
	background: #766357;
	text-align: center;
}